---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Manifesto from '../components/Manifesto.astro';
import HowItWorks from '../components/HowItWorks.astro';
import SchemaShowcase from '../components/SchemaShowcase.astro';
import TwoPaths from '../components/TwoPaths.astro';
import Sovereignty from '../components/Sovereignty.astro';
import Pricing from '../components/Pricing.astro';
import Comparison from '../components/Comparison.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Manifesto />
    <HowItWorks />
    <SchemaShowcase />
    <TwoPaths />
    <Sovereignty />
    <Pricing />
    <Comparison />
    <CTA />
  </main>
  <Footer />
</Layout>
